build/
.DS_Store
.dart_tool/
.packages # Can be removed after Dart 2.17
build/
pubspec.lock  # Except for application packages
doc/api/
# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# Mac
.DS_Store
.packages
.dart_tool/
.packages
generated_plugin_registrant.cc
generated_plugin_registrant.h
generated_plugins.cmake
.dart_tool/package_config.json
.dart_tool/package_config_subset
.packages
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugin_registrant.h
windows/flutter/generated_plugins.cmake
