gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java

# Remember to never publicly share your keystore.
# See https://flutter.dev/docs/deployment/android#reference-the-keystore-from-the-app
key.properties
**/*.keystore
**/*.jks

.dart_tool/
.packages # Can be removed after Dart 2.17
build/
pubspec.lock  # Except for application packages
doc/api/
# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# Mac
.DS_Store